.container-small-card{
  border: 1px solid white;
  width: 700px;
  display: flex;
  flex-direction: column;
  border-top: 15px;
}

.small-card-photo > img{
  width: 100%;
  min-width: 200px;
  height: 95%;
  margin-right: 5px;
  margin-top: 5px;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;}
hr{
  margin-top: 0;
  margin-bottom: 0;
}
h1{
  font-size: 17px;
  text-align: center;
}
.repository-link{
  padding-top: 5px;
  text-align: center;
}
.repository-link > h3> a{
  text-decoration: none;
}
.repository-link > h3> a >a{
  text-decoration: underline;
}