<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <h3>About Me</h3>
    <app-big-card
      profileText="Professional graduated in Science and Technology and majoring in Computer Science at Federal University of Bahia (UFBA), with proven software engineering experience focused in Angular & Spring Boot. I'm a developer passionate about technology and in eternal improvement."
      profilePhoto="https://media.licdn.com/dms/image/C4D03AQGbQfIfFUfVjg/profile-displayphoto-shrink_800_800/0/1658844224005?e=1689206400&v=beta&t=ij7W4dyUaSEfZhv__6OphVJagHTk0_gyN4mYcD9UmPI"
      profileTitle="Full Stack Developer"></app-big-card>
      <app-big-card
      profileText="I work in a internal software engineering team in a Angular / Spring Boot application developing new features and fixing bugs pointed by the users.
      Support and development of SQL queries for debugging.
      Skills: Front-End Development · Angular Material · Java · Angular · Software Development · Logic Programming · Object-Oriented Programming (OOP) · Version Management · SQL"
      profileTitle="Experiences">

      </app-big-card>
  </div>
  <div class="articles-others">
    <div class="articles-title">
      <h3>My Projects</h3>
      <br>
      <hr>
    </div>
    <app-small-card 
    projectPhoto="..\..\..\..\assets\buzzfeed.png"
    projectTitle="Angular BuzzFeed Clone"
    projectLink="https://buzzfeed.onrender.com/"
    repositoryLink="https://github.com/lucca-schramm/Angular-BuzzFeed"></app-small-card>
    <app-small-card
    projectPhoto="..\..\..\..\assets\landing.png"
    projectTitle="Ebook Landing Page"
    projectLink="https://landing-dpxb.onrender.com/"
    repositoryLink="https://github.com/lucca-schramm/Angular-LandingEbook"></app-small-card>
    <app-small-card
    projectPhoto="..\..\..\..\assets\Mercado Louco.png"
    projectTitle="Mercado Louco"
    repositoryLink="https://github.com/lucca-schramm/MercadoLouco"></app-small-card>
    <app-small-card 
    projectPhoto="..\..\..\..\assets\Pokedex.png"
    projectTitle="Javascript Pokedex"
    repositoryLink="https://github.com/lucca-schramm/Javascript-Pokedex"></app-small-card>
  </div>
</div>
